html{
  zoom:90%;
}

.containers{
    padding-top: 30px;
}

.alignRight  { text-align: right;  }
.alignCenter { text-align: center; }

table.dataTable thead>tr>th.pagCero,
table.dataTable thead>tr>td.pagCero  { 
    padding-right:0.5em; 
}

table.dataTable tbody>tr>td  { 
    padding-top: 0.1em; 
    padding-bottom: 0.1em; 
}

table.dataTable th{
	background: #7eae3e;
	border: 1px solid #7eae3e;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight:bold;
}

/*INICIO - ESTILOS MODIFICADOS DE BOOSTRAP*/
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ecf0f5;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px;
}
/*FIN - ESTILOS MODIFICADOS DE BOOSTRAP*/

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after { 
    bottom: 3px;
}

table.dataTable  td{
	border: 1px solid #c9c9c9;
	font-size: 13px;
	color:#292727;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #6d6d6d;
    border-color: #8785ad;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color:rgba(1, 25, 131, 0.25);
}

table.dataTable thead .sorting:after {
    opacity: 1;
    content: "\e150";
}

table.dataTable thead .sorting_asc:after {
	opacity: 1;
    content: "\e155";
}

.table-hover>tbody>tr:hover {
    background-color: #E8DFDF;
}

.dataTable{
	background: white;
}

/* INICIO AUTOCOMPLETADO*/
.typeahead{
  z-index: 100000;
}

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.tt-hint{
  display: none;
}
/* FIN AUTOCOMPLETADO*/

/*NUEVO TAMAÑO DE VENTANA*/
.tamano-90{
  width: 90%;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;    
    border-top: 1px solid #dddddd;
}

.content-wrapper{
      padding-top: 40px;
}

  